<div class="pretty_form" id="modal_form">
  <%= bootstrap_form_for :session, remote: true, html: {"data-type" => :json}, url: create_session_modal_path do |form| %>
    <div>
      <%= form.email_field :email %>
    </div>
    <div>
      <%= form.password_field :password %>
    </div>
    <div class="pull-right">
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
</div>
