<div class="hero-unit">
  <h1>Success Stories</h1>
</div>
<div class="container">
  <p>Cool page of Completed projects. </p>
  <ul class="thumbnails">
    <li class="span3">
    <a href="#" class="thumbnail">
      image 1
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 1
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 2
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 2
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 3
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 3
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 4
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 4
    </li>
  </ul>

  <ul class="thumbnails">
    <li class="span3">
    <a href="#" class="thumbnail">
      image 5
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 5
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 6
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 6
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 7
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 7
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 8
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 8
    </li>
  </ul>
</div>
