<div class="dontation_level_block">
  <div class="donation_level">
    <%= donation_level.title %>
  </div>
  <div class="donation_level_description">
    <%= donation_level.description %>
  </div>
  <div class="donation_level_amount">
    <%= donation_level.amount %>
  </div>
</div>
