<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn btn-default pull-right" style="width:50px;" data-dismiss="modal" aria-hidden="true">X</button>
      <h4 class="modal-title" id="modal_sign_in_label">Sign In</h4>
    </div>
    <div class="modal-body">
      <%= render new_session_modal_path %>
    </div>
    <div class="modal-header">
      <h4 class="modal-title" id="modal_signup_label">Not a Hero Yet?</h4>
    </div>
    <div class="modal-body">
      <span class="center-block" style="width: 200px;">Just sign up to create an account!</span>
      <a href="../users/new" class="btn btn-primary center-block" style="width:80px;">Sign Up</a>
    </div>
  </div>
</div>
