<div class="project_show_block">
  <h2>Projects</h2>
  <% @projects.each do |project| %>
    <% if project.in_progress? %>
      <ul>
        <li><h4><%= link_to project.title, project %></h4>
        <span class="display_newlines"><%= project.blurb %></span>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
