<div class="hero-unit"><h1>Find a Resource to Help with Your Energy Goals</h1></div>
<div class="container">
  <ul class="thumbnails">
    <li class="span6 center" style="background-color:green; color: white;"><h3>Renewables</h3></li>
    <li class="span6 center" style="background-color:green; color: white;"><h3>Efficiency<h3></li>
  </ul>

  <ul class="thumbnails">
    <li class="span3"><h3 class="center">Information</h3>
    <a href="#" class="thumbnail">
      NREL - The National Renewable Energy Lab
    </a>
    Renewable energy research and resources.
    </li>

    </li>
    <li class="span3"><h3 class="center">Providers</h3>
    <a href="#" class="thumbnail">
      SunRun
    </a>
    Lease-to-own rooftop solar, operating in California, Conecticut, Massachusetts.	    
    </li>
    <li class="span3"><h3 class="center">Information</h3>
    <a href="http://www.dsireusa.org/" class="thumbnail">
      DSIRE 
    </a>
    Comprehensive list of rebates and incentives, by state.
    </li>
    <li class="span3"><h3 class="center">Providers</h3>
    <a href="#" class="thumbnail">
      BPI - Building Performance Institute
      <img data-src="holder.js/300x200" alt="">
    </a>
    Find certified building analysts for energy audits.
    </li>
  </ul>

  <ul class="thumbnails">
    <li class="span3">
    <a href="http://www.dsireusa.org/" class="thumbnail">
      The DSIRE Database
    </a>
    Comprehensive listing of rebates and incentives, by state.
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 6
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 6
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 7
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 7
    </li>
    <li class="span3">
    <a href="#" class="thumbnail">
      image 8
      <img data-src="holder.js/300x200" alt="">
    </a>
    Super Successful Project Text 8
    </li>
  </ul>
</div>
