<div class="row">
  <div class="col-sm-3 show_block_no_shadow">
    <%=render "effiency_projects" %>
  </div>

  <div class="col-sm-3 show_block_no_shadow">
    <%=render "renewables_projects" %>
  </div>

  <div class="col-sm-3 show_block_no_shadow">
    <%=render "sustainability_projects" %>
  </div>

  <div class="col-sm-3 show_block_no_shadow">
    <%=render "finish_line_projects" %>
  </div>
</div>

