<ul class="thumbnails">
  <li class="span4">
    <h2>Efficiency</h2>
    <a href="#" class="thumbnail">
      <div>Efficiency 1</div>
      <div><img data-src="holder.js/300x200" alt=""></div>
    </a>
    <div class="challenge">Challenge 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </div>
    <div class="solution">Solution 1: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </div>

    <a href="#" class="thumbnail">
    Efficiency 2<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>

    <a href="#" class="thumbnail">
    Efficiency 3<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>
  </li>

  <li class="span4">
    <h2>Renewable Energy</h2>
    <a href="#" class="thumbnail">
    Renewable Project 1<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>

    <a href="#" class="thumbnail">
    Renewable Project 2<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>

    <a href="#" class="thumbnail">
    Renewable Project 3<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>
  </li>

  <li class="span4">
    <h2>Nearly Funded</h2>
    
    <a href="#" class="thumbnail">
    Finish Line 1<br>
    &nbsp;<br>
    &nbsp;
    Sustainable energy (solar)
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>

    <a href="#" class="thumbnail">
    Finish Line 2<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 2: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 2: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>

    <a href="#" class="thumbnail">
    Finish Line 3<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p>Challenge 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.  </p>
    <p>Solution 3: Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. </p>
  </li>
</ul>
