<%= start_centering %>
<h2>How It Works:</h2>
  <div class="col-md-4"><img class="box" src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/113/medium/Placeholder_PickAProject.jpg?1361837879"></div>
  <div class="col-md-4"><img class="box" src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/112/medium/Placeholder_Donate.jpg?1361837787"></div>
  <div class="col-md-4"><img class="box" src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/114/medium/Placeholder_Save_the_world.jpg?1361837986"></div>
<%= end_centering %>
<%= start_centering %>
<h4>Because every donation and every successful project counts!</h4></div>
<%= end_centering %>
