<h2 class="center">How It Works:</h2>
<ul class="thumbnails" style="margin-left: 30px;">
  <li class="span4 offset2"><img class="box" src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/113/medium/Placeholder_PickAProject.jpg?1361837879"></li>
  <li class="span4"><img class="box" src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/112/medium/Placeholder_Donate.jpg?1361837787"></li>
  <li class="span=4"><img class="box" src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/114/medium/Placeholder_Save_the_world.jpg?1361837986"></li>
</ul>
