<p class="marketing-byline">
  <i>Check Out These Amazing Projects! </i><br />Or ...
</p>
<%= start_centering %>
<%= link_to "See All Projects",
projects_path, class: "btn btn-primary btn-large" %>
<%= end_centering %>
