<li class="span6">
  <h2>Projects You've Funded</h2>
  <a href="#" class="thumbnail">
  You Funded 1<br>
  &nbsp;<br>
  &nbsp;
  Sustainable energy (solar)
  <img data-src="holder.js/300x200" alt="">
  </a>
  <p><b>Title</b></p>

  <a href="#" class="thumbnail">
    You Funded 2<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
  </a>
  <p><b>Title</b></p>
  <a href="#" class="thumbnail">
    You Funded 3<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
  </a>
  <p><b>Title</b></p>
</li>
</ul>
