<h2>You've Funded</h2>
<% if @projects_you_funded.any? %>
  <% @projects_you_funded.each do |project|  %>
    <h4><%= link_to project.title, project %></h4>
    Raised so far: <%= number_to_currency project.received_donations%>
  <% end %>
<% else %>
    There are projects waiting for you, hero!
    <%= link_to "Take me to them!", :projects, class: "btn btn-primary pull-right" %>
<% end %>
