<ul>
  <li>
    <h2>You've Funded</h2>
    <%= if @projects_you_funded.any? %>
      <% @projects_you_funded.each do |project| %>
        <h3><%= project.title %></h3>
      <% end %>
    <% else %>
        You haven't donated to any projects.
    <% end %>
  </li>
</ul>
