<h2>You've Funded</h2>
<% if current_user.donated_to.any? %>
  <% current_user.donated_to.each do |project|  %>
    <h4><%= image_tag project.image_url(:thumb) %> <%= link_to project.title, project %></h4>
    Raised so far: <%= number_to_currency project.received_donations %>
  <% end %>
<% else %>
    Oh no! You haven't funded any projects yet. Projects await you, hero!
    <%= link_to "Take me to them!", :projects, class: "btn btn-primary pull-right" %>
<% end %>
