<p>thumbnails of your projects, and projects you've funded go here</p>
<ul class="thumbnails">
  <li class="span6">
    <h2>Your Projects</h2>
    <a href="#" class="thumbnail">
      Your Project 1<br>
      &nbsp;<br>
      &nbsp;
      <img data-src="holder.js/300x200" alt="">
    </a>
    <p><b>Title</b></p>
    <a href="#" class="thumbnail">
    Your Project 2<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p><b>Title</b></p>
  </li>
