<ul>
  <li class ="col-centered inline">
    <h2>Your Projects</h2>
    <a href="#">
      Your Project 1<br>
      &nbsp;<br>
      &nbsp;
      <img data-src="holder.js/300x200" alt="">
    </a>
    <p><b>Title</b></p>
    <a href="#" class="thumbnail">
    Your Project 2<br>
    &nbsp;<br>
    &nbsp;
    <img data-src="holder.js/300x200" alt="">
    </a>
    <p><b>Title</b></p>
  </li>
</ul>
