<h1>You Can be a Hero!</h1>
<p>Fund Projects, Save the World<sup>*</sup></p>
<p><%= link_to "Sign Up Now!", [:new, :user], class: "btn btn-success btn-lg" %></p>
<p><sup>*</sup>Because every donation and every successful project counts!</p>
