$baseFontFamily: Oxygen, FontAwesome, Arial;

@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import "font-awesome";

/* *************************************************************************** */
/* Warning: If you import twitter bootstrap above navbar and button tweaks, it */
/* can cause the tweaks to not load. Be sure bootstrap imports happen below    */
/* this section. Add bootstrap AFTER the "safe to add" comment, below.         */
/* *************************************************************************** */
/*navbar*/
$bgDefault: #8fd662;
$bgHighlight: #90ee90;
$colDefault: #ffffff;
$colHover: #888888;

/*body*/
$colHeadings: #003300;
$colFormBackground: rgba(188, 237, 145, .2);
$colFormText: #003300;

/* --- Style --- */
.navbar-custom {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  background: linear-gradient(180deg, rgb(2, 54, 2) 0%, rgb(6, 93, 6) 100%);

  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover; 
      background-color: $bgHighlight;
    }
    > a {
      color: $colDefault;
    }
  }

  .navbar-nav {
      > li {
        > a {
          color: $colDefault;
          &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight;
          }
        }
      }

      .active {
        > a, > a:hover, > a:focus {
          color: $colHover;
          background-color: $bgHighlight;
        }
      }

      .open {
        > a, > a:hover, > a:focus {
          color: $colHover;
          background-color: $bgHighlight;
          .caret {
            border-top-color: $colHover;
            border-bottom-color: $colHover;
          }
        }
      }

    > .dropdown {
      > a {
        .caret {
          border-top-color: $colDefault;
          border-bottom-color: $colDefault;
        }
        &:hover, &:focus {
          .caret {
            border-top-color: $colHover;
            border-bottom-color: $colHover;
          }
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar { 
      background-color: $colDefault;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover;
      background-color: $bgHighlight;
    }
  }
  .navbar-right {
    width: 20%;
  }
}

.nav li{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-bottom{
  margin-top: 20em;
  background: linear-gradient(360deg, rgb(2, 54, 2) 0%, rgb(6, 93, 6) 100%);
}

.navbar-text{
  color: $colDefault;
}

/*Great big button tweaks */
.btn.btn-default{
  color: #ffffff;
  background-image: linear-gradient(to bottom, #359635, #90ee90);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
}

.btn.btn-primary{
  color: #ffffff;
  background-color: #39ac3;
  background-image: linear-gradient(to bottom, #359635, #90ee90);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
}

.btn.btn-success{
  color: #ffffff;
  background-color: #39ac3;
  background-image: linear-gradient(to bottom, #359635, #90ee90);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
}

.btn.btn-success:hover {
  color: #ffffff;
  background-color: #90ee90;
  background-image: linear-gradient(to bottom, #90ee90, #90ee90);
  border-color: #62c462 #3E8F3E #3E8F3E;
}

/*
*Safe to import twitter bootstrap css
*/
@import 'bootstrap';

@mixin box_rounded_no_shadow {
  background-color: grayLight;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin box_rounded_shadow {
  background-color: grayLight;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #458B00;
}

@mixin thumbnail_image {
  max-height: 50px;
}

@mixin avatar_image {
  max-height: 100px;
}

@mixin standard_image {
  max-height: 360px;
}

@mixin featured_image {
  max-height: 480px;
}

.spacer {
  padding-top: 50px;
}

body{
  padding-top: 20px;
}

h1, h2, h3 {
  color: $colHeadings;
}


img, embed, object, video {
  max-width: 100%;
}

.flash_messages{
  color: #228B22;
}

a{
  color: green;
  text-decoration: none;
}

a:hover{
  color: lightgreen;
  text-decoration:underline;
}


.marketing-byline, h1, h2{
  text-align: center;
}

.thumb_list_wrapper{
  clear: both;
}

.thumb_left{
  float: left;
  margin: .2em .2em;
}
.no_image_wrap{
  overflow: hidden;
  margin: 1.5em auto;
}

.jumbotron{
  padding-top:-80px;
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
  background: linear-gradient(45deg, rgb(2, 54, 2) 0%, rgb(6, 153, 6) 100%) repeat scroll 0% 0% transparent;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;
}

.masthead{
  padding: 30px 0px 40px;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
}

.hero-unit {
  background: dce8dc;
  color: #003800;
  box-shadow: 1px 1px 5px gray;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 10px 10px;
}

/* ************************************
WHEN ILLUSTRATION IS READY
USE THIS TO GIVE HERO UNIT AN IMAGE BACKGROUND:

 .hero-unit {
    background: url(IMAGE.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #dadada;
    color: #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    text-shadow: 0em 0em 1.8em #fff; }

 ************************************** */

/*Used by jQuery Masonry for "pinterest style" self-adjusting image block layout */

.display_newlines{
  white-space: pre-wrap;
}

.box{
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  color: #000;
  line-height: 1.4em;
  float: left;
  @include box_rounded_shadow;
  width: 214px;
}

.box img{
  display: inline-block;
  float: left;
  @include box_rounded_no_shadow;
}

.box ul, li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

.box a{
  display: inline-block;
  color: #666;
  text-decoration: underline;
  padding-left: 2px;
  float: left;
}

.box a:hover{
  color: #333;
}

.outer_wrapper {
  position: relative;
  overflow: hidden;
}

.centering_wrapper {
  position: relative;
  float: left;
  left: 50%;
}

.center_element {
  position: relative;
  float: left;
  left: -50%;
}

.show_block {
  display: inline-block;
  padding: 1em 4em;
  font-size: 1.2em;
  @include box_rounded_no_shadow;

  .categories_show {
    display: block;
    color: #000;
    line-height: 1.4em;
    float: left;
    width: 100%;
  }

  .dashboard_show_your_projects {
    position: relative;
    color: #000;
    line-height: 1.4em;

    img {
      display: block;
      @include thumbnail_image;
    }
  }

  .dashboard_show_you_funded {
    position: relative;
    color: #000;
    line-height: 1.4em;

    img {
      display: block;
      @include thumbnail_image;
    }
  }

  .project_show {
    display: inline-block;
    color: #000;

    img {
      display: block;
      float: none;
      @include standard_image;
    }
  }

  .success_stories_show {
    display: inline-block;
    color: #000;

    img {
      display: block;
      @include thumbnail_image;
    }
  }

  .donation_levels {
    display: inline-block;
    margin: 5px auto;
    color: #000;
  }
}

.categories_form_block{
  display: block;
  width: 100%
}

.progress{
  background-color: #458B00;
  background-image: none;
  padding: 0px 14px 0px 0px;
}

.element_to_pop_up {
  display:none;
}

.description{
  margin: 10px 0px 5px;
  color: #000;
}

.inline{
  display: inline-block;
}

.center{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.col_centered {
  margin: 0 auto;
  text-align: left;
}

.pretty_form {
  padding: 1.05em;
  color: $colFormText;
  display: block;
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  @include box_rounded_shadow;
  width: 80%;
}

#footer{
  background-color: green;
  margin-top: 50px;
  color: #FFF;
}

#footer a{
  color: lightgreen;
}

#footer a:visited{
  color: #DDD;
}

.pins_pagination a, .pins_pagination span{
  padding: 0.2em 0.3em; 
}

.pins_pagination{
  text-align: center;
}

.pins_pagination .disabled{
  color: #aaaaaa; }

.pins_pagination .current{
  font-style: normal;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, lightgreen 0%, rgb(6, 153, 6) 100%) repeat scroll 0% 0% transparent;
  text-align: center;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.pins_pagination a{
  text-decoration: none;
  color: green; 
}

.pins_pagination a:hover, .pins_pagination a:focus{
  text-decoration: underline; 
}

.approved{
  background-color: gray;
}

.approval{
  color: white;
  background-color: red;
}
