<h2>Create a New Category</h2>
<% if signed_in? %>
  <div class="pretty_form">
    <%= render "form" %>
  </div>
<% else%>
  You must be signed in to create a category.
  <div>
    <%= link_to "Sign In", session: :new %> or <%= link_to "Sign Up", user: :new %>
  </div>
<% end %>
