<div class="show_block project_show">
  <h2><%= @category.name %></h2>
  <div class="center">
    Category type: <%= @category.category_type %>
  </div>
  <div class="btn btn-default pull-right">
    <%= link_to "Edit This Category", [:edit, @category] %>
  </div>
</div>
