<div class="navbar navbar-custom navbar-bottom">
  <ul class="nav navbar-nav">
    <li>
      <a href="#"><i class='fa fa-bolt'></i> About</a>
    </li>
    <li>
      <a href='https://twitter.com/GreenPlanetHero/' target='_blank'><i class="fa fa-twitter"></i> @GreenPlanetHero</a>
    </li>
    <li>
      <a href='https://www.facebook.com/GreenPlanetHeroesCommunity' target='_blank'><i class="fa fa-facebook"></i> Green Planet Heroes</a>
    </li>
    <li>
      <a href="#"><i class='fa fa-comment-o'></i> Contact</a>
    </li>
    <li>
      <a href="#"><i class='fa fa-question'></i> FAQ</a>
    </li>
    <li>
      <a href="#"><i class='fa fa-envelope'></i> Newsletter</a>
    </li>
    <li>
      <a href="#"><i class='fa fa-legal'></i> Terms and Conditions</a>
    </li>
    <li>
      <a href="#"><i class='fa fa-shield'></i> Privacy Policy</a>
    </li>
  </ul>
</div>
