<div>
  <% if signed_in? %>
    Signed in as <%= current_user.name %>, not you? 
    <%= button_to "Sign out", :session, method: :delete %> 
  <% else %>
    <%= link_to "Sign in", [:new, :session] %> 
  <% end %>
</div>
