<div class="hero-unit">
  <h1>Heroes Needed!</h1>
  <p class="marketing-byline"> <i>Because, Together, We are Bigger than the Challenges We Face.</i></p>
</div>
<div class="container">
  <ul class="thumbnails">
    <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/116/medium/WildFiresMap.jpg?1362426558" alt="image of worldwide wild fires on a single day">
    </a>
    <p>
    <b>Challenge</b>: As the global average temperature warms, we are seeing more fires, more floods, more devastating storms, more droughts, and increasing crop failures.
    </p>
    <p><b>Solution</b>: As Ghandi once said: "<i>We must become the change we want to see</i>." Working together, and supporting one another, we can slow climate change, and reduce its ultimate severity. We owe a livable planet to our children, our grandchildren, and future generations. </p>
    </li>
    <li class="span4">
    <a href="#" class="thumbnail">

      <img src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/118/large/insulation.jpg?1362427005" alt="image of adding insulation">
    </a>
    <p><b>Challenge</b>: Buildings use half of all energy in the US.   </p>
    <p><b>Solution</b>: Making our buildings more efficient with insulation, air sealing, better heating and cooling systems, and more efficient lighting and appliances is one of the quickest ways to cut our CO2 emissions. Not only does this help the environment, it saves us money, and makes us more comfortable. You can't ask for a better return on investment!</p>
    </li>
    <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://s3.amazonaws.com/omrails_images/pins/images/000/000/117/medium/SolarArray.JPG?1362426716
      " alt="image of a solar array">
    </a>
    <p><b>Challenge</b>: Most of the energy we use pumps CO2 and other warming gases into the atmosphere, where they get stuck, trapping heat, and making the planet warmer. </p>
    <p><b>Solution</b>: Switching to clean, renewable energy sources will reduce the amount of warming gases released when we use energy. </p>
    </li>


  </ul>


  <div class="hero-unit">
    <h1>Cost is the #1 Road Block</h1>
    <p class="marketing-byline"> <i>For Energy Efficiency and Sustainable Energy Projects</i></p>

  </div>

  <p> <h2>Smash Through the Roadblock!</h2> </p>

  <ul class="thumbnails">
    <li class="span6">
    <a href="#" class="thumbnail">
      Image 1<br>
      Climate Montage<br>
      Include a "Donate to a Project" (button)
      <img data-src="holder.js/300x200" alt="">
    </a>
    <ul class="thumbnails">
      <li class="span1">
      <li class="span4">	
      <p><h2>You <b>Can</b> Make a Difference!</h2></p>
      <p>You want to <b>do</b> something about the environment, but there are reasons you can't make efficiency or sustainability improvements in your own home. Or maybe your home is already as green as it can be.</p>

      <p> That's OK. </p>

      <p><big><a href="#donor">Donate to Become a Hero</a></big>! <br>Help others reduce their energy footprint, by helping them complete efficiency or sustainability projects.</p>
      </li>
      <li class="span1">
    </ul>
    <li class="span6">
    <a href="#" class="thumbnail">
      image 2<br>
      Efficiency and Sustainability Montage<br>
      Include a "Create a Project" button
      <img data-src="holder.js/300x200" alt="">
    </a>
    <ul class="thumbnails">
      <li class="span1">
      <li class="span4">	
      <p><h2>Save Money, Save Energy, Cut CO2!</h2> </p>
      <p>Want to cut your heating and cooling bills? Lighting is costing an arm and a leg? Want to stop getting your power from dirty coal? You have another energy or efficiency need? </p>
      <p><big><a href="#Createproject">Call on our Heroes!</a></big><br>There are people all over the country looking for ways to donate that will make a real difference, today. They want to know that the money they give will cut CO2 output right away. There is no better way to guarantee that than to directly fund the projects that cut CO2.</p>
      <p>Investing in reducing residential building energy use is the <a href="http://architecture2030.org/hot_topics/14x_stimulus">single quickest way</a> to cut CO2 emissions.</p>
      <p>Your project is part of the solution!</p>
      </li>
      <li class ="span1"></li>
    </ul>

    </li>
  </ul>



  <div class="hero-unit"><h1>Crowd-Saving the Planet!</h1>
    <p class="marketing-byline"><i>Heroes Win by Working Together</i></p>
  </div>
</div>
