<!DOCTYPE html>
<html>
<head>
  <title>GreenPlanetHeroes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "header" %>
<%= yield %>
</body>
</html>
